<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/section.css">
    <title>Section</title>
</head>
<body>
    <div class="section">
        <div class="cse">
            <img src="../static/images/student.png" alt="cse_image" class="cse_img">
            <a href = "/get_role_page"><button type="submit" class="cse-btn" onclick="fun('cse')">CSE</button></a>
            
            
        </div>
    
        <div class="csd">
            <img src="../static/images/csd.png" alt="csd_image" class="csd_img">
            <a href = "/get_role_page"><button type="submit" class="csd-btn" onclick="fun('cse1')" >CSD</button></a>
            <!--  -->
        </div>
    
        <div class="csm">
            <img src="../static/images/csm.png" alt="csm_image" class="csm_img">
            <a href = "/get_role_page"><button type="submit" class="csm-btn" onclick="fun('csm')">CSM</button></a>
        </div>
    
        <div class="it">
            <img src="../static/images/it.jpg" alt="it_image" class="it_img">
            <a href = "/get_role_page"><button type="submit" class="it-btn" onclick="fun('it')">IT</button></a>
        </div>
    
        <div class="ece">
            <img src="../static/images/ece.png" alt="ece_image" class="ece_img">
            <a href = "/get_role_page"><button type="submit" class="ece-btn" onclick="fun('ece')">ECE</button></a>
        </div>
    
        <div class="eee">
            <img src="../static/images/eee.png" alt="eee_image" class="eee_image">
            <a href = "/get_role_page"><button type="submit" class="eee-btn" onclick="fun('eee')">EEE</button></a>
        </div>
    
        <div class="mec">
            <img src="../static/images/mec.jpg" alt="mec_image" class="mec_img">
            <a href = "/get_role_page"><button type="submit" class="mec-btn" onclick="fun('mec')">MEC</button></a>
        </div>
    
        <div class="che">
            <img src="../static/images/che.jpg" alt="che_image" class="che_img">
            <a href = "/get_role_page"><button type="submit" class="che-btn" onclick="fun('che')">CHE</button></a>
        </div>
    
        <div class="civil">
            <img src="../static/images/civil.jpg" alt="civil_image" class="civil_img">
            <a href = "/get_role_page"><button type="submit" class="civil-btn" onclick="fun('civ')">CIVIL</button></a>
        </div>
    
        <div class="mrb">
            <img src="../static/images/mrb.png" alt="mrb_image" class="mrb_img">
            <a href = "/get_role_page"><button type="submit" class="mrb-btn" onclick="fun('mrb')">MRB</button></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/section.js"></script>
</body>
</html>